spring:
#  profiles:
#    active: pro
  #springboot文件上传大小配置
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
    #热部署生效
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: application.yml

##"关闭缓存, 即时刷新"
##spring.freemarker.cache=false
##spring.thymeleaf.cache=true  如果开启此处会导致每次输入删除都会自动刷新哪怕你没保存
nacos:
  discovery:
    server-addr: 127.0.0.1:8848
#    namespace: c8e5110d-b459-47bd-922d-25a83f276357
  config:
    server-addr: 127.0.0.1:8848
    data-id: cool_local.yml
    type: yaml
    auto-refresh: true
    max-retry: 10
    bootstrap:
      enable: true
    group: DEFAULT_GROUP
    namespace: c8e5110d-b459-47bd-922d-25a83f276357
logging:
  level:
    com.speed.cool.Dao1: DEBUG
    com.speed.cool.Dao2: DEBUG
#keycloak:
#   auth-server-url: http://localhost:8080/auth #keycloak启动地址
#   realm: gravitee #当前目录所在的realm
#   resource: cool #client 名称
#   public-client: true
#   securityConstraints[0].authRoles[0]: user
#   securityConstraints[0].securityCollections[0].patterns: /*

